[submodule "portaudio"]
	path = portaudio
	url = https://github.com/PortAudio/portaudio/
[submodule "rtmidi"]
	path = rtmidi
	url = https://github.com/thestk/rtmidi
[submodule "midiordiethegame/MidiCPP/godot-cpp"]
	path = midiordiethegame/MidiCPP/godot-cpp
	url = https://github.com/godotengine/godot-cpp
