[submodule "portaudio"]
	path = portaudio
	url = https://github.com/PortAudio/portaudio/
[submodule "rtmidi"]
	path = rtmidi
	url = https://github.com/thestk/rtmidi
[submodule "cppflow"]
	path = cppflow
	url = https://github.com/serizba/cppflow.git
[submodule "fft2midi/cnpy"]
	path = cnpy
	url = https://github.com/rogersce/cnpy.git
